.container {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.row {
  background: #FFF;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row input {
  width: 100%;
  margin-bottom: .5rem;
  padding: 4px;
  border: 1px solid #4f4f4f;
  border-radius: 3px;
}

.inner-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
}

button {
  border: none;
  background: #ffffff;
  color: #000;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background: #000;
  opacity: .5;
  color: #FFF;
}